---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import HeroCarousel from "@/components/sections/landing/HeroSectionCarousel.astro";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import heroCarouselItems from "@data/heroCarouselItems.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  
  {/*
  
    <!--
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  />
   -->
  
  
  */}


  
{/*
<HeroSection
    title=`La solución completa en higiene institucional.`
    subTitle="Somos su aliado para resolver todas sus necesidades de higiene institucional."
    primaryBtn="Explorar beneficios"
    primaryBtnURL="/productos"
    secondaryBtn="Contacte un asesor"
    secondaryBtnURL="/contact"
    withReview={false}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

*/}

  <HeroCarousel
    title=`La solución completa en higiene institucional.`
    subTitle="Somos su aliado para resolver todas sus necesidades de higiene institucional."
    primaryBtn="Explorar beneficios"
    primaryBtnURL="/productos"
    secondaryBtn="Contacte un asesor"
    secondaryBtnURL="/contact"
    withReview={false}
   
    items={heroCarouselItems}
  />



  <FeaturesGeneral
    title="Beneficios de nuestra solución"
    subTitle="En Unilimpio, mucho más que un proveedor de artículos de limpieza, queremos ser su aliado estratégico en higiene profesional e institucional, agregando valor a su gestión, aumentando la satisfacción de sus clientes y usuarios y todo esto mientras ahorra dinero."
    src={featureImage}
    alt="Lo beneficios de la solución de higiene brindada por Unilimpio."
    features={features}
  />

  <FeaturesNavs
    title=`Una solución de higiene de <span class="text-blue-800 dark:text-blue-500">Unilimpio</span> adaptada a sus necesidades.`
    tabs={[
      {
        heading: "Grandes Superficies",
        content:
          "La combinación de productos y servicios necesarios para brindar espacios que generan confianza y permanencia, previenen el desperdicio y el mal uso a un precio razonable. ",
        svg: "tools",
        src: tools,
        alt: "Foto de un mall",
        first: true,
      },
      {
        heading: "Preparación y servicio de alimentos",
        content:
          "Combinación de soluciones químicas para limpieza de grasa y desincrustación, sanitización de superficies , higiene de manos, y sus respectivos dosificadores y dispensadores entregados sin costo, para un efectivo programa seguridad alimentaria.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Industria",
        content:
          "Soluciones eficientes y seguras, que fortalecen su programa de BPM mientras brindan bienestar a su personal y reducen el ausentismo.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
      {
        heading: "Salud",
        content:
          "La combinación ideal y comprobada de soluciones químicas y equipos de dosificación especializados, de gran desempeño, que brindan seguridad a su personal y usuarios, ayudan a prevenir los brotes infecciosos, de aplicación segura y rápida por el personal de mantenimiento.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />


  <TestimonialsSection
    title="Satisfacción y Respaldo. Garantizados."
    subTitle="En Unilimpio, nos obsecionamos por lograr su satisfacción. Nuestro equipo de Agentes de Soport y Servicio al cliente están a su entera disposición para que su requerimiento sea atendido inmediatamente."
    ;
    testimonials={[
      {
        content:
          "La experiencia ha sido muy satisfatoria, los recomiendo totalmente.",
        author: "Samantha R.",
        role: "Jefe de Compras | Physique",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "98%",
        description:
          "Indice OTIF - Ordenes entregadas a tiempo y completas, en los últimos 6 meses",
      },
      {
        count: "99.9%",
        description:
          "Confiabilidad de invenario -  Un inventario exacto previene errores en los despachos y en el re-abastecimient de productos, lo cual nos permite brindarle tranquilidad y confianza en la continuidad del suministro.",
      },
      {
        count: "24-48 horas",
        description:
          "Entrega inmediata (24 horas) en las principales ciudades del país (Quito, Guayaquil, Cuenca) a través de nuestras 3 oficinas comerciales y centros de distribución a nivel nacional y una amplia red de disribuidores autorizados.",
      },
      {
        count: "2000+",
        description: "Número de skus a su disposición, en las diferentes líneas, desde productos químicos a implementos profesionales de limpieza, desde papeles absorbentes a higiene de manos y seguridad ocupacional.",
      },
    ]}
  />
{/*
  <!--
  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />


 -->

*/}





  <ClientsSection
    title="Los mejores eligen a los mejores"
    subTitle="Brindamos soluciones de higiene a las empresas líderes en cada sector."
  />

  <HeroSectionAlt
    title="Permítanos ser su aliado en soluciones de higiene profesional."
    subTitle="Contáctenos hoy mismo, un representante se pondrá en contacto con usted en breve."
    url="/contact"
  />



</MainLayout>
